.vs/my-blog/FileContentIndex/read.lock
.vs/my-blog/v17/.wsuo
.vs/my-blog/FileContentIndex/b3552921-0370-4a9b-a677-e16554ad749a.vsidx
.vs/my-blog/FileContentIndex/c6512ce5-b552-4b26-883c-85c1d748b895.vsidx
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
*slnx.sqlite
.vs/VSWorkspaceState.json
/.vs/my-blog/FileContentIndex/2811c2f9-8f91-451c-85ac-b2b904e0ff6a.vsidx
/.vs/VSWorkspaceState.json
/.vs/my-blog/FileContentIndex
/.vs/slnx.sqlite
/.vs/my-blog/FileContentIndex/6bab0e00-e9df-4052-92f3-5ed4c59450e6.vsidx
/.vs/my-blog/FileContentIndex
/myblog/_posts/.vs/_posts
